body {
  margin: 0;
  font-family: Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;
  min-width: 240px;
}

.main {
  padding: 16px;
}

h1 {
  font-size: 1.5em;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 4px;
}